<div class="apos-page-settings apos-modal apos-template {% block class %}apos-edit-page-settings{% endblock %}">
  <h3 data-hint-title>{% block action %}Edit Page{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      <fieldset>
        <label>Title</label>
        <input name="title" type="text" />
      </fieldset>
      <fieldset>
        <label>Type</label>
        <select name="type">
        </select>
      </fieldset>
      <fieldset>
        <label>Slug</label>
        <input name="slug" type="text" />
      </fieldset>
      {# js populates this as needed, for instance blog pages have extra settings #}
      <div data-type-details></div>
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
