<div class="apos-page-settings apos-modal apos-template {% block class %}apos-new-page-settings{% endblock %}">
  <h3 data-hint-title>{% block action %}New Page{% endblock %}</h3>
  <div class="apos-modal-body">
    <form>
      <fieldset>
        <label>Title</label>
        <input name="title" type="text" />
      </fieldset>
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" data-action="save" class="apos-control apos-button apos-save">Save</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
