{% if args.contextMenu %}

<ul class="apos-admin-bar-item apos-accordion-menu {% if args.bottom %}apos-pages-menu{% endif %}">
  <li class="apos-accordion-title"><i class="icon-doc"></i>{% if not args.bottom %}{{ __('Page') }}{% endif %}</li>
  <li class="apos-accordion-items">
    <ul class="apos-page-bar">
      {% for item in args.contextMenu %}
        <li href="#" class="apos-control apos-accordion-item apos-button apos-{{ item.name }}" data-{{ item.name }}>{{ __(item.label) }}</li>
      {% endfor %}
    </ul>
  </li>
</ul>

{% endif %}

