{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}

{% block modalClass %}
  apos-versions-page apos-ui-modal-no-sidebar apos-ui-modal-has-tabs
{% endblock%}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'right', color: 'base', label: 'Done'}) }}
{% endblock %}

{% block modalLabel %}
  {{ __('Versions') }}
{% endblock %}

{% block modalInstructions %}
  <p>
    {{ __('Click on any version to switch back. Currently, only text changes are noted for each set of changes.') }}
  </p>
{% endblock %}

{% block modalBody %}
  <form>
    <div class="apos-versions" data-versions>
    </div>
  </form>
{% endblock %}
