// Quick clearfix hack until we have cross-module @import
.apos-version:after {
  content: "";
  display: table;
  clear: both;
}

.apos-versions {
  list-style: none;
  .apos-version {
    padding: 10px 0 10px 0;
    border-bottom: 1px dotted #ccc;
    clear: left;
  }
  .apos-version:hover {
    background-color: rgb(240, 240, 240);
  }
  .apos-changes {
    list-style: none;
    float: left;
    min-width: 500px;
    width: 500px;
    overflow: hidden;
    min-height: 1px;
  }
  .apos-author {
    width: 120px;
    float: left;
    overflow: hidden;
  }
  .apos-created-at {
    width: 150px;
    float: left;
    overflow: hidden;
  }
}

.apos-reorganize-page {
  .apos-visit, .apos-delete {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .apos-delete {
    color: red;
    font-style: italic;
  }
  .apos-trash {
    .apos-visit, .apos-delete {
      display: none;
    }
  }
}
// .apos-page-settings-toggle {
//   font-weight: bold;
//   padding: 10px 0 20px 0;
// }

// .apos-page-settings-toggle:before {
//   content: "» "
// }

// .apos-page-settings-toggle.apos-active:before {
//   content: "« "
// }


